.DS_Store
/tools/monodepth/model_cityscapes/*

.idea/anti-spoofing.iml

.idea/
.idea/workspace.xml

*.data-00000-of-00001
*.index
*.meta

/spoopy/tools/vole/source/build/*
/spoopy/tools/vole/source/build

/spoopy/static
/spoopy/static/*
/data/
/static/*
*.h5

*.iml

*.mp4
*.avi
*.mov

*.npy
*.pyc

*.jpg
*.pb
*.ascii

*.dat

*.sav

spoopy_env/*
/env/*
